@import "tailwindcss";

:root {
  --background: #17161A;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
    --font-sans: "Inter", sans-serif;
    --color-secondary: #FBC625;
    --color-gray: #89888B;
}

@utility text-linear-gradient {
    background: linear-gradient(59deg, #DA458F, #DA34DD);
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
        content: '';
        position: absolute;
        background: linear-gradient(59deg, #DA458F, #DA34DD);
        width: 16px;
        height: 2px;
        bottom: 0;
        left: 20px;
    }
}

@utility bg-linear-gradient {
    background: linear-gradient(59deg, #DA458F, #DA34DD);
}

@utility bg-linear-gradient-inactive {
    background: linear-gradient(59deg, rgba(218, 69, 143, 0.4), rgba(218, 52, 221, 0.4));
}

@utility scrollbar-custom {
    &::-webkit-scrollbar {
        width: 6px;
        background: #D0D0D0;
        border-radius: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #FFCC21;
    }
}

.ant-slider-tooltip .ant-tooltip-arrow::before {
    background: linear-gradient(59deg, #DA458F, #DA34DD) !important;
}