@import "tailwindcss";

:root {
  --background: #17161A;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
    --font-sans: "Inter", sans-serif;
    --color-secondary: #FBC625;
}

@utility text-linear-gradient {
    background: linear-gradient(59deg, #DA458F, #DA34DD);
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
        content: '';
        position: absolute;
        background: linear-gradient(59deg, #DA458F, #DA34DD);
        width: 16px;
        height: 2px;
        bottom: 0;
        left: 20px;
    }
}